<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ez.teen.member.mapper.MemberMapper">
	
	<select id="login" 
		resultType="com.ez.teen.member.model.MemberModel">
		SELECT MEMBER_ID, MEMBER_PW
		FROM MEMBER
		WHERE MEMBER_ID = #{MEMBER_ID}
			AND MEMBER_PW = #{MEMBER_PW}
	</select> 
	
	<select id="findId" resultType="com.ez.teen.member.model.MemberModel">
		SELECT MEMBER_ID, MEMBER_NAME,MEMBER_EMAIL
		FROM MEMBER
		WHERE MEMBER_NAME = #{MEMBER_NAME} <!-- jsp의 input의 name속성값의 문자열과 동일해야한다 -->
		AND MEMBER_EMAIL = #{MEMBER_EMAIL}
	</select>
	
	
	<select id="findPw" resultType="com.ez.teen.member.model.MemberModel">
		SELECT MEMBER_ID,MEMBER_EMAIL
		FROM MEMBER
		WHERE MEMBER_ID = #{MEMBER_ID}
		AND MEMBER_EMAIL = #{MEMBER_EMAIL}
	</select>
	
	
	
	
	
	
	


</mapper>