<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ez.teen.board.mapper.BoardMapper">

	<!-- 전체 이용자 수 -->
	<select id="getUserCount" resultType="int">
		SELECT COUNT(*) AS allMemberCount FROM MEMBER
		
	</select>
	
	<!-- 전체 게시글 수 -->
	<select id="getBoardCount" resultType="int" parameterType="Integer"> 
		SELECT COUNT(*) AS allBoardCount FROM BOARD
		<!-- 내가 작성한 게시글 수 조건 -->
		<if test='member_no != 0'>
			WHERE MEMBER_NO = #{member_no}
 		</if>
	</select>
	
	<!-- 전체 댓글 수 -->
	<select id="getCommentCount" resultType="int" parameterType="Integer">
		SELECT COUNT(*) AS allCommentCount FROM BCOMMENT
		<!-- 내가 작성한 게시글 수 조건 -->
		<if test='member_no != 0'>
			WHERE MEMBER_NO = #{member_no}
 		</if>
	</select>
	
	
 <select id ="boardList" resultType="com.ez.teen.board.model.BoardModel" parameterType="com.ez.teen.board.model.BoardParam">
SELECT rn, board_title, board_date, board_hit_count, board_like_count, board_report_count, board_file_check,tag_name, bgroup_name, member_nick, board_comment_count
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
                SELECT
 B.BOARD_NO                
,B.BOARD_TITLE
,B.BOARD_DATE
,B.BOARD_HIT_COUNT
,B.BOARD_LIKE_COUNT
,B.BOARD_REPORT_COUNT
,B.BOARD_FILE_CHECK
,T.TAG_NAME
,G.BGROUP_NAME
,M.MEMBER_NICK
,COUNT(C.BOARD_NO) AS board_comment_count

FROM BOARD B
INNER JOIN BTAG T
ON B.BOARD_TAG_NO = T.BOARD_TAG_NO
INNER JOIN BGROUP G
ON B.BOARD_GROUP_NO = G.BOARD_GROUP_NO
INNER JOIN MEMBER M
ON B.MEMBER_NO = M.MEMBER_NO
LEFT OUTER JOIN BCOMMENT C
ON B.BOARD_NO = C.BOARD_NO
<if test='member_no != 0'>
WHERE B.MEMBER_NO = #{member_no}
</if>
 
    GROUP BY B.BOARD_NO, B.BOARD_TITLE,B.BOARD_DATE,B.BOARD_HIT_COUNT,B.BOARD_LIKE_COUNT,B.BOARD_REPORT_COUNT,B.BOARD_FILE_CHECK,T.TAG_NAME,G.BGROUP_NAME,M.MEMBER_NICK

<if test='recent != null'>
ORDER BY B.BOARD_DATE DESC
</if>

	) A
	)
	WHERE RN BETWEEN #{start} AND #{end}
    
    

 </select>
 

	
	
	


</mapper>