<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ez.teen.board.mapper.BoardMapper">

	<!-- 전체 이용자 수 -->
	<select id="getUserCount" resultType="int">
		SELECT COUNT(*) AS allMemberCount FROM MEMBER
		
	</select>
	
	<!-- 전체 게시글 수 -->
	<select id="getBoardCount" resultType="int" parameterType="com.ez.teen.board.model.BoardParam"> 
		SELECT COUNT(*) AS allBoardCount FROM BOARD B
		INNER JOIN MEMBER M
		ON B.MEMBER_NO = M.MEMBER_NO
		
		<if test='member_no != 0'>
		WHERE B.MEMBER_NO = #{member_no}
 		</if>
 		
 		<if test='search == "title"'>
		AND B.BOARD_TITLE LIKE '%'||#{keyword}||'%'
		</if>

		<if test='search == "content"'>
		AND B.BOARD_CONTENT LIKE '%'||#{keyword}||'%'
		</if>
		
		<if test='search == "member_nick"'>
		AND M.MEMBER_NICK LIKE '%'||#{keyword}||'%'
		</if>	
		
		<if test='search == "all"'>
		AND B.BOARD_TITLE LIKE '%'||#{keyword}||'%'
		OR M.MEMBER_NICK LIKE '%'||#{keyword}||'%'
		OR B.BOARD_CONTENT LIKE '%'||#{keyword}||'%'
		</if>
 		
 		
	</select>
	
	<!-- 전체 댓글 수 -->
	<select id="getCommentCount" resultType="int" parameterType="com.ez.teen.board.model.CommentParam">
		SELECT COUNT(*) AS allCommentCount FROM BCOMMENT C
		INNER JOIN BOARD B
        ON C.BOARD_NO = B.BOARD_NO
        INNER JOIN MEMBER M
        ON C.MEMBER_NO = M.MEMBER_NO
		<!-- 내가 작성한 게시글 수 조건 -->
		<if test='member_no != 0'>
			WHERE C.MEMBER_NO = #{member_no}
 		</if>
 		
 		<if test='search == "title"'>
		AND B.BOARD_TITLE LIKE '%'||#{keyword}||'%'
		</if>

		<if test='search == "content"'>
		AND B.BOARD_CONTENT LIKE '%'||#{keyword}||'%'
		</if>
		
		<if test='search == "member_nick"'>
		AND M.MEMBER_NICK LIKE '%'||#{keyword}||'%'
		</if>	
		
		<if test='search == "all"'>
		AND B.BOARD_TITLE LIKE '%'||#{keyword}||'%'
		OR M.MEMBER_NICK LIKE '%'||#{keyword}||'%'
		OR B.BOARD_CONTENT LIKE '%'||#{keyword}||'%'
		</if>
 		
 		
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="insertBoard" parameterType="com.ez.teen.board.mapper.BoardMapper" useGeneratedKeys="true" keyProperty="board_no" >
	<selectKey keyProperty="board_no" resultType="int" order="BEFORE" >
		SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
	</selectKey>
	<![CDATA[
	INSERT INTO BOARD(
	 BOARD_NO
	,MEMBER_NO
	,BOARD_TITLE
	,BOARD_DATE
	,BOARD_CONTENT
	,BOARD_HIT_COUNT
	,BOARD_LIKE_COUNT
	,BOARD_REPORT_COUNT
	,BOARD_GROUP_NO
	,BOARD_TAG_NO
	,BOARD_FILE_CHECK
	)
	VALUES(
	 #{board_no}
	,#{member_no}
	,#{board_title}
	,SYSDATE
	,#{board_content}
	,0
	,0
	,0
	,#{board_group_no}
	,#{board_tag_no}
	,'Y'
	)
]]>
	</insert>
	
<select id ="boardList" resultType="com.ez.teen.board.model.BoardModel" parameterType="com.ez.teen.board.model.BoardParam">
SELECT rn, board_no, board_title, board_date, board_hit_count, board_like_count, board_report_count, board_file_check,tag_name, bgroup_name, member_nick, board_comment_count
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
                SELECT
 B.BOARD_NO                
,B.BOARD_TITLE
,B.BOARD_DATE
,B.BOARD_HIT_COUNT
,B.BOARD_LIKE_COUNT
,B.BOARD_REPORT_COUNT
,B.BOARD_FILE_CHECK
,T.TAG_NAME
,G.BGROUP_NAME
,M.MEMBER_NICK
,COUNT(C.BOARD_NO) AS board_comment_count

FROM BOARD B
INNER JOIN BTAG T
ON B.BOARD_TAG_NO = T.BOARD_TAG_NO
INNER JOIN BGROUP G
ON B.BOARD_GROUP_NO = G.BOARD_GROUP_NO
INNER JOIN MEMBER M
ON B.MEMBER_NO = M.MEMBER_NO
LEFT OUTER JOIN BCOMMENT C
ON B.BOARD_NO = C.BOARD_NO
<if test='member_no != 0'>
WHERE B.MEMBER_NO = #{member_no}
</if>

<if test='search == "title"'>
AND B.BOARD_TITLE LIKE '%'||#{keyword}||'%'
</if>

<if test='search == "content"'>
AND B.BOARD_CONTENT LIKE '%'||#{keyword}||'%'
</if>

<if test='search == "member_nick"'>
AND M.MEMBER_NICK LIKE '%'||#{keyword}||'%'
</if>

<if test='search == "all"'>
AND B.BOARD_TITLE LIKE '%'||#{keyword}||'%'
OR M.MEMBER_NICK LIKE '%'||#{keyword}||'%'
OR B.BOARD_CONTENT LIKE '%'||#{keyword}||'%'
</if>
GROUP BY B.BOARD_NO, B.BOARD_TITLE,B.BOARD_DATE,B.BOARD_HIT_COUNT,B.BOARD_LIKE_COUNT,B.BOARD_REPORT_COUNT,B.BOARD_FILE_CHECK,T.TAG_NAME,G.BGROUP_NAME,M.MEMBER_NICK

<if test='sort == "recent"'>
ORDER BY B.BOARD_DATE DESC
</if>

<if test='sort == "view"'>
ORDER BY B.BOARD_HIT_COUNT DESC
</if>

<if test='sort == "recommend"'>
ORDER BY B.BOARD_LIKE_COUNT DESC
</if>

<if test='sort == "comment"'>
ORDER BY board_comment_count DESC
</if>




	) A
	)
	WHERE RN BETWEEN #{start} AND #{end}
 </select>
 

	<!-- 첨부파일 업로드 -->
	<insert id="insertFile" parameterType="hashMap">
	<![CDATA[ INSERT INTO BFILE(
	 FILE_NO
	,BOARD_NO
	,ORG_FILE_NAME
	,STORED_FILE_NAME
	,FILE_SIZE
	)
	VALUES(
	 SEQ_FILE_NO.NEXTVAL
	,#{board_no}
	,#{org_file_name}
	,#{stored_file_name}
	,#{file_size}
	)
	]]>
	</insert>
	
		<select id ="commentList" resultType="com.ez.teen.board.model.CommentModel" parameterType="com.ez.teen.board.model.CommentParam">
	SELECT rn, board_no, board_title, board_file_check, member_nick, bcomment_no, bcomment_content, bcomment_date, bcomment_like_count
      FROM (
         SELECT ROWNUM RN, A.* 
            FROM (

			SELECT
			B.BOARD_NO
			,B.BOARD_TITLE
			,B.BOARD_FILE_CHECK
			,M.MEMBER_NICK
			,C.BCOMMENT_NO
			,C.BCOMMENT_CONTENT
			,C.BCOMMENT_DATE
			,C.BCOMMENT_LIKE_COUNT
			
			
			FROM BOARD B
			INNER JOIN BCOMMENT C
			ON B.BOARD_NO = C.BOARD_NO
			INNER JOIN MEMBER M
			ON B.MEMBER_NO = M.MEMBER_NO
			
			<if test='member_no != 0'>
			WHERE C.MEMBER_NO = 2
			</if>
			
			<if test='search == "title"'>
			AND B.BOARD_TITLE LIKE '%'||#{keyword}||'%'
			</if>
			
			<if test='search == "content"'>
			AND C.COMMENT_CONTENT LIKE '%'||#{keyword}||'%'
			</if>
			
			<if test='search == "all"'>
			AND B.BOARD_TITLE LIKE '%'||#{keyword}||'%'
			OR C.COMMENT_CONTENT LIKE '%'||#{keyword}||'%'
			</if>
			
			
			<if test='sort == "recommend"'>
			ORDER BY C.BCOMMENT_LIKE_COUNT DESC
			</if>
			
			<if test='sort == "recent"'>
			ORDER BY C.BCOMMENT_DATE DESC
			</if>
			
			   ) A
			   )
			   WHERE RN BETWEEN #{start} AND #{end}
	
	</select>

	
</mapper>