@charset "utf-8";

/* Admin Board List */
#admin_board_list {
    margin-bottom: 50px;
}

#admin_board_list table {
    width: 100%;
    line-height: 30px;
    text-align: center;
}

#admin_board_list table thead {
    height: 30px;
    background: #EEE;
    border-top: 1px solid #CCC;
    font-weight: bold;
    vertical-align: middle;
}

#admin_board_list table tr {
    height: 30px;
    border-bottom: 1px solid #CCC;
    vertical-align: middle;
}

#admin_board_list table td a {
    color: #5573E8;
    text-decoration: underline;
    transition: all 0.2s;
}

#admin_board_list table td a:hover {
    font-weight: bold;
}

#admin_board_list table img {
	width: 10px;
	height: 10px;
	vertical-align: middle;
}

#admin_board_list .w5 {
	width: 5%;
}

#admin_board_list .w10 {
	width: 10%;
}

#admin_board_list .w20 {
	width: 20%;
}

#admin_board_list .w30 {
	width: 30%;
}

/* Admin Board List : Notice만 해당 */
.admin_board_list_title .side_menu li:nth-child(2)::after {
    content: "";
    margin-left: 0;
}

.admin_board_list_title .side_menu .btn_notice {
    margin-left: 15px;
    padding: 5px 10px;
    color: #FFF;
    border-radius: 5px;
    display: inline-block;
}

/* Admin Form */
#admin_form {
    margin: 50px auto 30px;
    text-align: center;
}