@charset "utf-8";

@keyframes gradient { 
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

/* Common */
html, body {
    width: 100%;
    height: 100%;
    font-family: '맑은 고딕', '돋움', 'Malgun Gothic', 'Dotum', Arial, Roboto, sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #111;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 150%;
}

h1 {
    margin-bottom: 20px;
    font-size: 4em;
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
}

h4 {
    font-weight: bold;
}

hr {
    border: 0.5px solid #CCC;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #111;
    border-radius: 10px;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    outline-color: #5573E8;
}

input::placeholder,
textarea::placeholder {
    color: #CCC;
}

textarea {
	width: 100%;
	height: 150px;
	padding: 10px;
	border: 2px solid #111;
    border-radius: 10px;
    box-sizing: border-box;
	resize: none;
}

button {
    cursor: pointer;
}

.select {
    font-weight: bold;
    color: #111;
}

.side_menu li {
    float: left;
    margin-left: 10px;
    transition: all 0.2s;
}

.side_menu li:first-child {
    margin-left: 0;
}

.side_menu li::after {
    content: "|";
    margin-left: 10px;
}

.side_menu li:last-child::after {
    content: "";
    margin-left: 0;
}

.side_menu li:hover {
    text-decoration: underline;
}

.btn_com {
    background: #111;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
    transition: all 0.2s;
}

.btn_com:hover {
    background: #5573E8;
}

.btn_main {
    width: 100%;
    padding: 20px 0;
    font-size: 1.4em;
    display: inline-block;
}

/* Header */
#header {
	position: fixed;
	top: 0;
    width: 100%;
    height: 80px;
    min-width: 1400px;
    background: #FFF;
    padding: 0 80px;
    border-bottom: 1px solid #CCC;
    line-height: 80px;
    box-sizing: border-box;
    box-shadow: 0 0 4px #CCC;
    z-index: 100;
}

#header_logo {
    float: left;
    margin-right: 40px;
    font-size: 2em;
    font-weight: bold;
    color: #5573E8;
}

#header_nav {
    float: left;
    font-size: 1.4em;
    font-weight: bold;
}

#header_nav ul li {
    float: left;
    margin-right: 40px;
    transition: all 0.2s;
}

#header_nav ul li a {
	color: #CCC;
}

#header_nav ul li a:hover {
    color: #111;
}

#header_nav ul li a.active {
	color: #111;
}

#header_menu {
    float: right;
}

#header_menu ul li {
    float: left;
    margin-left: 30px;
    transition: all 0.2s;
}

#header_menu ul li img {
	width: 40px;
	height: 40px;
	vertical-align: middle;
	cursor: pointer;
}

#header_menu .log:hover {
    text-decoration: underline;
}

#header_menu a.btn_com {
	background: #5573E8;
}

/* Contents */
#contents {
    width: 100%;
    min-width: 1400px;
    margin-top: 80px;
    box-sizing: border-box;
}

#contents_title {
    background: linear-gradient(120deg, #111, #333);
  	background-size: 400% 400%;
  	animation: gradient 8s ease infinite;
    padding: 80px;
    text-align: center;
    color: #FFF;
}

#contents_detail {
    padding: 80px;
    text-align: center;
}

/* Footer */
#footer {
    width: 100%;
    height: 80px;
    min-width: 1400px;
    background: #FFF;
    padding: 0 80px;
    border-top: 1px solid #CCC;
    line-height: 80px;
    color: #CCC;
    box-sizing: border-box;
}

#footer_logo {
    float: left;
    margin-right: 40px;
    font-size: 2em;
    font-weight: bold;
}

#footer_info {
    float: left;
}

#footer_info p {
	line-height: 80px;
}