@charset "utf-8";

/* Header */
#header_nav ul li:first-child a {
    color: #111;
}

/* Main Contents */
#contents_title {
    padding: 120px 40px;
}

#contents_pro {
    margin: 120px 0;
    display: inline-block;
}

#contents_pro .circle {
	float: left;
}

#contents_pro .circle .chart {
	width: 120px;
    height: 120px;
    margin: 0 40px 20px;
    border: 8px solid #333;
    border-radius: 100%;
	font-size: 3em;
	line-height: 120px;
}

#contents_pro .c1 .chart {
    border-color: #FFD305;
    color: #FFD305;
}

#contents_pro .c2 .chart {
    border-color: #00DEE5;
    color: #00DEE5;
}

#contents_pro .c3 .chart {
    border-color: #FF0151;
    color: #FF0151;
}

#btn_wrap a.btn_com {
    width: 400px;
    background: transparent;
    border: 1px solid #FFF;
}

#btn_wrap a.btn_com:hover {
    background: #5573E8;
    border: 1px solid #5573E8;
}