@charset "utf-8";

/* Main Contents */
#contents_title {
    padding: 100px 20px;
}

#contents_pro {
    margin-top: 30px;
    display: inline-block;
}

#contents_pro li {
    float: left;
    margin: 0 30px;
}

#contents_pro li div {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border: 6px solid #333;
    border-radius: 100%;
}

#contents_pro li:nth-child(1) div {
    border-color: #FFD305;
    color: #FFD305;
}

#contents_pro li:nth-child(2) div {
    border-color: #00DEE5;
    color: #00DEE5;
}

#contents_pro li:nth-child(3) div {
    border-color: #FF0151;
    color: #FF0151;
}

#contents_pro li div span {
    font-size: 2em;
    line-height: 80px;
}

#btn_wrap {
    width: 400px;
    display: inline-block;
}