@charset "UTF-8";

::scrollbar {
	width: 10px;
}

::scrollbar-thumb{
	background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

::scrollbar-track{
	background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb{
	background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

::-webkit-scrollbar-track{
	background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

img {
	/*글쓴이의 프로필 사진을 둥글게*/
	width: 40px;
	height: 40px;
	border: 0px;
	/*border: 1px solid #cecece;*/
	border-radius: 50%;
}

p {
	font-family: '맑은 고딕', '돋움', 'Malgun Gothic', 'Dotum', Arial, Roboto, sans-serif;
	font-size: 20px;
}

.badge {
	margin-left: 15px;
}

.msg-container,
.messaging {
	height:100%;	
}

.inbox_people {
	background: #f8f8f8 none repeat scroll 0 0;
	float: left;
	overflow: hidden;
	width: 40%;
	height:100%;
	border-right: 1px solid #f7f7f7;
	box-sizing:border-box;
}

.inbox_msg {
	border-radius: 15px;
	clear: both;
	overflow: hidden;
	height:100%;
}

.top_spac {
	margin: 20px 0 0;
}

.recent_heading {
	float: left;
	width: 40%;
}

.srch_bar{
	display: inline-block;
	text-align: right;
	width: 60%;
	padding: 0;
}

.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #f7f7f7;
}

.recent_heading h4 {
	color : #111;
	font-size: 30px;
	margin: auto;
	font-family: '맑은 고딕', '돋움', 'Malgun Gothic', 'Dotum', Arial, Roboto, sans-serif;
}

.srch_bar input {
	border: 1px solid #cdcdcd;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
	font-family: '맑은 고딕', '돋움', 'Malgun Gothic', 'Dotum', Arial, Roboto, sans-serif;
	font-size: 25px;
}

.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat_ib h5 {
	font-size: 20px;
	color: #464646;
	margin: 0 0 8px 0;
	font-family: '맑은 고딕', '돋움', 'Malgun Gothic', 'Dotum', Arial, Roboto, sans-serif;
}

.chat_ib h5 span {
	font-size: 17px;
	float: right;
}

.chat_ib p {
	font-size: 14px;
	color: #989898;
	margin: auto
}

.chat_img {
	float: left;
	width: 11%;
}

.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}

.chat_people {
	overflow: hidden;
	clear: both;
}

.chat_list {
	border-bottom: 1px solid #f7f7f7;
	margin: 0;
	padding: 18px 16px 10px;
}

.chat_list_box :hover {
	background-color: #d6ead0;
}

.inbox_chat {
	height:100%;
	overflow: auto;
}

.active_chat {
	background: #ebebeb;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}

.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}

.received_withd_msg p {
	background: #f4f4f4 none repeat scroll 0 0;
	border-radius: 7px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 10px 10px 10px 12px;
	width: 100%;
	font-family: '맑은 고딕', '돋움', 'Malgun Gothic', 'Dotum', Arial, Roboto, sans-serif;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 5px 0 8px;
}

.received_withd_msg {
	width: 57%;
}

.mesgs {
	position:relative;
	float: left;
	width: 60%;
	height:100%;
	background: #eee;
}

.sent_msg p {
	background: #97df93 none repeat scroll 0 0;
	border-radius: 7px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 10px 10px 10px 12px;
	width: 100%;
	font-family: '맑은 고딕', '돋움', 'Malgun Gothic', 'Dotum', Arial, Roboto, sans-serif;
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.send_message {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background:#fff;
}

.sent_msg {
	float: right;
	width: 46%;
	font-family: '맑은 고딕', '돋움', 'Malgun Gothic', 'Dotum', Arial, Roboto, sans-serif;
}

.input_msg_write {
	padding:10px;
}

.write_msg{
	height: auto;
	width: 93%;
	border: 0;
	resize: none;
}
.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	height: 48px;
	width: 100%;
}

.type_msg {
	border-top: 1px solid #dfdfdf;
	position: relative;
}

.msg_send_btn {
	background: #97df93 none repeat scroll 0 0;
	border: medium none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 33px;
	position: absolute;
	right: 10px;
	top: 50%;
	width: 33px;
	transform: translateY(-50%);
}

.msg_send_btn:hover {
	background: #5fcd58 none repeat scroll 0 0;
}

.msg_history {
	overflow:auto;
	height:90%;
}