<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ez.teen.admin.mapper.AdminMapper">
	
	<!-- 회원 리스트 -->
	<select id ="memberList" resultType="com.ez.teen.member.model.MemberModel" parameterType="com.ez.teen.member.model.MemberParam">
	SELECT rn, member_no, member_id, member_name, member_nick, member_email, member_date, member_pro_check
		FROM (
			SELECT ROWNUM RN, A.* 
			FROM (
            	SELECT member_no, member_id, member_name, member_nick, member_email, member_date, member_pro_check
				FROM MEMBER
				
				<if test='member_no != 0'>
				WHERE MEMBER_NO = #{member_no}
				</if>
				
				<if test='search == "member_id"'>
				AND MEMBER_ID LIKE '%'||#{keyword}||'%'
				</if>
		
				<if test='search == "member_nick"'>
				AND MEMBER_NICK LIKE '%'||#{keyword}||'%'
				</if>
				
				<if test='search == "all"'>
				AND MEMBER_ID LIKE '%'||#{keyword}||'%'
				OR MEMBER_NICK LIKE '%'||#{keyword}||'%'
				</if>
				
				) A
		) WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 회원정보 수정 -->
 	<update id="memberModify" parameterType="com.ez.teen.member.model.MemberModel">
		 <![CDATA[
		 UPDATE MEMBER SET
		 MEMBER_PW = #{member_pw},
		 MEMBER_NICK = #{member_nick}
		 WHERE MEMBER_NO = #{member_no}
		 ]]>
	</update>
	 
	<!-- 회원정보 삭제 -->
	<delete id="memberDelete" parameterType="com.ez.teen.member.model.MemberModel">
		DELETE FROM MEMBER 
	 	WHERE MEMBER_NO = #{member_no}
 	</delete>
	
</mapper>