<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ez.teen.follow.mapper.FollowMapper">


	<select id="followBoardList"
		resultType="com.ez.teen.follow.model.MemberFollowModel"
		parameterType="com.ez.teen.follow.model.MemberFollowModel">
		
SELECT
		B.BOARD_NO 
		,B.BOARD_GROUP_NO 
		,B.BOARD_TAG_NAME 
		,B.BOARD_TITLE 
		,B.BOARD_DATE 
		,B.BOARD_HIT_COUNT 
		,B.BOARD_LIKE_COUNT 
		,B.BOARD_REPORT_COUNT 
		,B.BOARD_FILE_CHECK 
		,G.BGROUP_NAME 
		,M.MEMBER_NICK 
		,M.MEMBER_NO 
		
		FROM BOARD B
		INNER JOIN BGROUP G
		ON B.BOARD_GROUP_NO = G.BOARD_GROUP_NO
		INNER JOIN MEMBER M
		ON B.MEMBER_NO = M.MEMBER_NO
        
		WHERE B.MEMBER_NO = #{member_no}
		
	</select>


	<!-- 전체 게시글 수 -->
	<select id="getFollowCount" resultType="int"
		parameterType="com.ez.teen.follow.model.MemberFollowParam">
		SELECT COUNT(*) AS allBoardCount 
		
		FROM FOLLOW F
		
		INNER JOIN MEMBER M
		ON F.FOLLOW_NO = M.MEMBER_NO
		
		INNER JOIN BOARD B
		ON F.FOLLOW_NO = B.BOARD_NO

		<if test='member_no != 0'>
			AND F.FOLLOWING_MEMBER_NO = #{member_no}
		</if>







	</select>

	<insert id="insertFollow"
	parameterType="com.ez.teen.follow.model.MemberFollowModel">
	INSERT INTO FOLLOW(
	 FOLLOW_DATE
	,FOLLOW_NO
	,FOLLOWING_MEMBER_NO
	,MEMBER_NICK
	)
	VALUES(
	SYSDATE
	,#{follow_no}
	,#{member_no}
	,#{member_nick}
	)
</insert>

<!-- 중복팔로우 확인 결과 -->
<select id="countFollow" parameterType="com.ez.teen.follow.model.MemberFollowModel" resultType="int">
SELECT COUNT(*) FROM FOLLOW
WHERE FOLLOW_NO = #{follow_no} AND FOLLOWING_MEMBER_NO = #{member_no}
</select>


<!-- 미니캐릭터 카드 팔로우 리스트 -->
<select id="myFollowPage" parameterType="com.ez.teen.follow.model.MemberFollowModel" resultType="com.ez.teen.follow.model.MemberFollowModel" >
SELECT 
M.MEMBER_NO,
M.MEMBER_NAME,
M.MEMBER_ID,
M.MEMBER_EMAIL,
F.FOLLOW_DATE,
M.MEMBER_NICK,
M.MEMBER_POINT,
M.MEMBER_PROFILE 


FROM MEMBER M
INNER JOIN FOLLOW F
ON M.MEMBER_NICK = F.MEMBER_NICK

WHERE M.MEMBER_NO IN (SELECT FOLLOWING_MEMBER_NO FROM FOLLOW WHERE FOLLOW_NO = #{member_no})
ORDER BY F.FOLLOW_DATE DESC
</select>

<delete id="myFollowDelete" parameterType="com.ez.teen.follow.model.MemberFollowModel">
DELETE FROM FOLLOW
WHERE FOLLOW_NO = #{member_no} AND FOLLOWING_MEMBER_NO = #{following_member_no}

</delete>

</mapper>